body {
    margin: 0;
}

.login-container {
    min-height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.login-card {
    width: 100%;
    max-width: 450px;
    background: var(--card-bg);
    border: 2px solid var(--border-color);
    border-radius: 20px;
    padding: 45px 35px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
    text-align: center;
}

.login-card h2 {
    margin-bottom: 10px;
    font-size: 42px;
}

.login-card p {
    margin-bottom: 25px;
    font-size: 18px;
    opacity: 0.8;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.login-form label {
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
}

.input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background: var(--bg-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-size: 15px;
}

.login-btn {
    margin-top: 15px;
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 12px;
    background: var(--button-color);
    color: var(--button-text);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.signup-text {
    margin-top: 20px;
    font-size: 18px;
}

.signup-text a {
    color: #e0262d;
    font-weight: bold;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 48%;
    transform: translateY(-55%);
    cursor: pointer;
    font-size: 23px;
}