/*This file contains the global styles for the entire website.
It sets the base appearance and layout used across all pages.

Typical things inside main.css:

page font

background color

global spacing

layout rules

resets */
body {
    background-color: #E6F0FA;
}

/* Dark mode */
.dark-mode {
    background-color: #121212;
    color: white;
}

/* Optional: fix link colors in dark mode */
.dark-mode a {
    color: lightblue;
}