.navbar {
    width: 90%;
    margin: 20px auto;
    padding: 15px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--card-bg);
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Links */
.nav-links {
    font-size: 23px;
    list-style: none;
    display: flex;
    gap: 40px;
    font-family:'Inter',sans-serif;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
}

/* Right side */
.right-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Button */
.nav-btn {
    background-color: var(--button-color);
    color: var(--button-text);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

/* Optional homepage title */
.home-title {
    text-align: center;
    margin-top: 100px;
}

/* Logo and hostera title next to each other*/
.brand{
    display:flex;
    align-items:center;
    gap:3px;        
    font-weight: bold;
    font-family: 'Cinzel Bold';
    letter-spacing: 1px;
}

/* Logo */
.brand img{
    height:60px;  
    width:auto;
}



/* USER DROPDOWN */
.user-dropdown {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);

    min-width: 180px;
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    padding: 8px 0;
    z-index: 3000;

    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

/* SHOW STATE */
.user-dropdown.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

/* DROPDOWN ITEMS */
.dropdown-item {
    width: 100%;
    background: transparent;
    color: var(--text-color);
    border: none;
    text-align: left;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.2s ease;
}

.dropdown-item:hover {
    background: rgba(0,0,0,0.08);
}

.delete-account {
    font-weight: bold;
    color: rgb(240, 21, 21);
}